<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>
                <th>Supplier</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(product => { %>
                <tr>
                    <td><%= product.name %></td>
                    <td><%= product.price ? product.price.toFixed(2) : 'N/A' %></td>
                    <td><%= product.CategoryName %></td>
                    <td><%= product.SupplierName %></td>
                    <td>
                        <form action="/delete-product/<%= product.id %>" method="POST" class="inline-form">
                            <button type="submit">Удалить</button>
                        </form>
                        <a href="/edit-product/<%= product.id %>">Изменить</a>
                    </td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div class="buttons">
        <a href="/add-product"><button>Добавить продукт</button></a>
        <a href="/add-category"><button>Добавить категорию</button></a>
        <a href="/add-supplier"><button>Добавить поставщика</button></a>
    </div>
</body>

</html>